html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-top: 0px;
    background-color: #c0c0c0;
}

body a {
    text-decoration: none;
    color: #ff4040;
}
body a:hover {
    font-weight: bolder;
    text-decoration: underline;
    transition: .5s;
}

/* fader */
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
} 

div {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
}

#topMain {
    height: 550px;
    width: 100%;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: top;
}
#header {
    height: 80px;
    padding-top: 20px;
}
#logo {
    height: 80px;
    width: 80px;
    font-size: 60px;
    color: white;
    background-color: #ff4040;
    border-radius: 40px;
    margin-left: 5%;
    float: left;
}
#links {
    height: 70px;
    width: 60%;
    margin-left: 40%;
}
.aLink {
    height: 50px;
    width: 20%;
    margin-right: 2%;
    float: left;
    color: white;
    font-family: 'News Cycle';
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 3px solid white;
    min-width: 100px;
}
.aLink:hover {
    color: #ff4040;
    border-bottom: 3px solid #ff4040;
    cursor: pointer;
    transition: .5s;
}
#title {
    height: 200px;
    width: 40%;
    color: white;
    padding-top: 150px;
    font-family: 'Lato';
    font-size: 80px;
    text-align: right;
    float: right;
    margin-right: 5%;
    font-weight: bolder;
    min-width: 600px;
}

#contentMain {
    width: 80%;
    max-width: 1100px;
    min-width: 900px;
    margin: auto;
    margin-top: 75px;
    
}
.someContent {
    height: 400px;
    width: 100%;
}
.leftHalf {
    height: 400px;
    width: 45%;
    margin-right: 5%;
    float: left;
}
.rightHalf {
    height: 400px;
    width: 50%;
    float: left;
}
.subtitle {
    height: 220px;
    font-family: 'Lato';
    border-left: 10px solid #ff4040;
    text-align: right;
    font-size: 60px;
    color: white;
} 
.subtitle3 {
    font-family: 'Lato';
    border-right: 10px solid #ff4040;
    text-align: left;
    font-size: 45px;
    color: white;
    padding-right: 20px;
}

.intro {
    font-family: 'News Cycle';
    font-size: 22px;
    text-align: right;
    width: 80%;
    float:  right;
    margin-top: 30px;
    color: black;
}

.textContent {
    font-family: 'News Cycle';
    font-size: 15.5px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    color: white;
}

.mfTitle {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
    color: white;
    font-family: 'Lato';
}

.moreFeatures {
    width: 80%;
    margin: auto;
    border-right: 5px solid #ff4040;
    border-left: 5px solid #ff4040;
    padding-left: 30px;
    padding-right: 10px;
    font-family: 'News Cycle';
    margin-top: 20px;
}

#firstPhoto {
    height: 350px;
    margin-top: 50px;
    background-image: url(images/codeBackground.png);
    background-size: contain;
}

.largeSubtitle {
    font-size: 60px;
    font-family: 'Lato';
    color: white;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-bottom: 10px solid #ff4040;
    padding-bottom: 20px;
}
.smallSubtitle {
    font-size: 25px;
    font-family: 'Lato';
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.secondPhaseContent {
    font-size: 16px;
    font-family: 'News Cycle';
    color: black;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    text-indent: 25px;
}

#thirdPhasePhoto {
    width: 80%;
    height: 100%;
    margin: auto;
    background-image: url(images/spacy.png);
    background-size: contain;
}


#bottomMain {
    height: 200px;
}
