/* template material:
font-family: 'Exo', sans-serif;
background-color: #FDF9FA;
color: #5D1F5A;
emphasis: #B0B0B0;
*/

body {
    margin: 0;
    background-image: url(images/background1.jpeg);
    background-size: cover;
    color: #5D1F5A;
}

.headerContainer {
    height: 7vw;
    width: 30vw;
    margin-left: 5vw;
    margin-top: 20px;
}

#navToggle {
    color: #5D1F5A;
    background-color: #B0B0B0;
    float: left;
    height: 7vw;
    width: 10vw;
}

#mercury {
    color: white;
    background-color: #5D1F5A;
    float: left;
    height: 7vw;
    width: 20vw;
}

#navObject {
    font-size: 5vw;
    text-align: center;
}
#mercObject {
    font-size: 4vw;
    padding-top: 1vw;
    text-align: center;
    font-family: 'Exo', sans-serif;
}

#navToggle:hover {
    opacity: 0.8;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.QS {
    float: right;
    height: 60px;
    width: 60px;
    background-color: #5D1F5A;
    color: white;
    font-size: 40px;
    margin-right: 10vw;
    margin-top: -50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-family: 'Exo';
    border-radius: 200px;
}

.QS:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.foWrapper {
    margin-top: 100px;
}
.bpWrapper {
   margin-top: 100px;
}


.banner {
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    margin-left: 10vw;
}

.seeHow {
    padding: 10px;
    margin-left: 10vw;
    width: 30vw;
    font-family: 'Exo', sans-serif;
    text-align: center;
    background-color: #B0B0B0;
    border: 2px solid #5D1F5A;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    
}

.seeHow:hover {
    border: 2px solid #5D1F5A;
    background-color: #5D1F5A;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.seeHow:active {
    margin-top: 1px;
}


.blogWrapper {
    margin-left: 10vw;
    height: 300px;
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.blogIcon {
    height: 280px;
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    border: 1px solid black;
    display: inline-block;
    background-size: contain;
    background-position: center;
    color: white;
}
.blogIcon:hover {
    height: 276px;
    width: 246px;
    border: 2px solid #5D1F5A;
    cursor: pointer;
}

.blogIcon2 {
    height: 280px;
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    display: inline-block;
    background-size: contain;
    background-position: center;
}

.inProgress  {
    height: 70px;
    width: 300px;
    background-color: #B0B0B0;
    margin: auto;
    margin-top: 40%;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 33px;
    padding-left: 20px;
    padding-right: 20px;
    visibility: hidden;
}




@media screen and (min-width: 1300px) {
    .headerContainer {
        height: 55px;
    }
    #navToggle {
        height: 55px;
        width: 20%;
    }
    #mercury {
        height: 55px;
        width: 80%;
    }
    #navObject {
        font-size: 30px;
        padding-top: 5px;
    }
    #mercObject {
        font-size: 30px;
        padding-top: 10px;
    }
    .banner {
        width: 500px;
    }
    
    .seeHow {
        width: 150px;
    }
    .main {
        width: 800px;
        float: left;
    }
}
@media screen and (min-width: 1500px) {
    
    .demo {
        height: 680px;
        width: 690px;
        border: 3px solid #5D1F5A;
        float: right;
        margin-top: 70px;
        margin-right: 50px;
        border-radius: 20px;
        background-color: #FDF9FA;
    }
    
    .inProgress {
        visibility: visible;
    }
    
    
}


